html{
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(/img/background.jpg) no-repeat; */
  background-size: 100%;
  /* background: rgb(20,173,177);
  background: linear-gradient(112deg, rgba(20,173,177,1) 16%, rgba(20,220,157,1) 51%, rgba(20,241,205,1) 78%, rgba(0,212,255,1) 100%); */
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px 0;
}

.location-box .location{
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  /* text-shadow: 3px 3px rgba(50, 50, 70, 0.5); */
}
.location-box .date{
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  /* text-shadow: 2px 2px rgba(50, 50, 70, 0.5); */
}
.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border-radius: 16px; */

  /* padding: 15px 25px; */
  font-size: 80px;

  /* text-shadow: 3px 6px rgba(50, 50, 70, 0.5); */
  text-align: center;
  /* box-shadow: 3px 6px rgba(0, 0, 0, 0.2); */
}

.weather-box .weather{
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.weather-box .weather-icon{
  width: 150px;
}
.app{
  transition: 0.4 ease;
}
.card{
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 0.50);  
}

.login{
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 0.50);  
}

.addData{
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 0.50);  
}
::placeholder
{
  color: dimgray;
}

